# Employee Data Analysis

#### TASK-1  : Calculate the average age of employees in IT  firm

In [1]:
import numpy as np
import os
os.getcwd()

'C:\\Users\\SHUBH\\Downloads'

In [2]:
emp_data = np.genfromtxt("DS1_C4_S1_Employee_Data_Challenge.csv",delimiter=",",skip_header = 1,dtype = "int")
emp_data

array([[ 1, 22],
       [ 2, 27],
       [ 3, 31],
       [ 4, 29],
       [ 5, 27],
       [ 6, 26],
       [ 7, 27],
       [ 8, 23],
       [ 9, 27],
       [10, 32],
       [11, 28],
       [12, 27],
       [13, 22],
       [14, 27],
       [15, 35],
       [16, 33],
       [17, 28],
       [18, 22],
       [19, 25],
       [20, 27],
       [21, 37],
       [22, 27],
       [23, 24],
       [24, 27],
       [25, 28],
       [26, 26],
       [27, 27],
       [28, 27],
       [29, 29],
       [30, 49],
       [31, 26],
       [32, 32],
       [33, 26],
       [34, 24],
       [35, 24],
       [36, 23],
       [37, 28],
       [38, 28],
       [39, 22],
       [40, 26],
       [41, 32],
       [42, 35],
       [43, 33],
       [44, 31],
       [45, 30],
       [46, 36],
       [47, 22],
       [48, 23],
       [49, 32],
       [50, 34]])

In [3]:
avg_age = np.mean(emp_data[:,1])
print("Average age of employees in IT firm is : ",avg_age)

Average age of employees in IT firm is :  28.26

###

#### TASK-2 : Display the employee IDs/code of those employees who are over 25 years of age. find the count of these employees.

In [4]:
index = np.where(emp_data[:,1] > 25)
emp_id = emp_data[:,0][index]
print("Employees ids whose age is over 25 :\n",emp_id)
print()
print("Count of employees over age 25:",emp_id.size)

Employees ids whose age is over 25 :
 [ 2  3  4  5  6  7  9 10 11 12 14 15 16 17 20 21 22 24 25 26 27 28 29 30
 31 32 33 37 38 40 41 42 43 44 45 46 49 50]

Count of employees over age 25: 38

###

#### TASK-3 : Calculate the total number of employees who are in the age group 30 to 35. display the employee ids of these employees

In [5]:
index1 = np.where((emp_data[:,1] >=30) & (emp_data[:,1] <=35))
emp_id_30_35 = emp_data[:,0][index1]
print("Number of employees who are in age group 30 to 35 : ",emp_id_30_35.size)
print()
print("Employee IDs : ",emp_id_30_35)

Number of employees who are in age group 30 to 35 :  12

Employee IDs :  [ 3 10 15 16 32 41 42 43 44 45 49 50]

###