# Housing Price

In [1]:
import pandas as pd
import mysql.connector as sql
from sqlalchemy import create_engine

In [5]:
data = pd.read_csv("DS1_C4_S6_House_Prices_Data_Challenge.csv")

In [2]:
db = sql.connect(host='localhost', user='root',password='SAK@2002')
mycursor = db.cursor()

In [4]:
mycursor.execute("create database housing_price")

In [3]:
mycursor.execute("drop database housing_price")

##

## TASK - 1 :

### Most people prefer houses that are at least 6000 square feet and are corner-plot houses. write a query to fetch these rows and push them into a new table in MySQL.

In [6]:
houses = data[(data["LotArea"]>=6000) & (data["LotConfig"]=="Corner")]

In [7]:
task_1 = pd.concat([houses["Id"],houses["LotArea"],houses["LotConfig"]],axis=1)

In [8]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host="localhost", db="housing_price", user="root", pw="SAK%402002"))

task_1.to_sql('preferred_houses', engine, index=False)

241

In [ ]:
query = "select * from preferred_houses"
A = sql.connect(host='localhost', user='root',password='SAK@2002',database='housing_price')
pd.read_sql(query,A)

##

## TASK - 2 :

### Most people seem to prefer houses that are one family and one story, preferably on flat land avoiding mountains or valleys/banks. write a query to fetch these rows and push them into a new table in MySQL.

In [9]:
pref_house = data[(data["BldgType"]=="1Fam") & (data["HouseStyle"]=="1Story") & (data["LandContour"]=="Lvl")]

In [10]:
task_2 = pd.concat([pref_house["Id"],pref_house["BldgType"],pref_house["HouseStyle"],pref_house["LandContour"]],axis=1)

In [11]:
task_2.to_sql('one_fam_story', engine, index=False)

545

In [ ]:
query = "select * from one_fam_story"
pd.read_sql(query,A)

##

## TASK - 3 :

### Compact townhouses are hot-selling properties in california. Write a query to fetch these rows and push them into a new table in MySQL.

In [12]:
com_town = data[(data["BldgType"]=="1Fam") & (data["HouseStyle"]=="2Story") & (data["Neighborhood"]=="OldTown")]

In [13]:
task_3 = pd.concat([com_town["Id"],com_town["BldgType"],com_town["HouseStyle"]],axis=1)

In [14]:
task_3.to_sql('compact_townhouses', engine, index=False)

24

In [ ]:
query = "select * from compact_townhouses"
pd.read_sql(query,A)

##

## TASK - 4 :

### Houses with 3+ bedrooms, a basement and a cement exterior are popular among most customers. write a query to fetch these rows and push them into a new table in MySQL.

In [15]:
pop_house = data[(data["BedroomAbvGr"]>3) & (data["ExterQual"]=="Gd") & (data["Exterior1st"]=="CemntBd")]

In [17]:
task_4 = pd.concat([pop_house["Id"],pop_house["BedroomAbvGr"],pop_house["ExterQual"],pop_house["Exterior1st"]],axis=1)

In [18]:
task_4.to_sql('popular_houses', engine, index=False)

5

In [ ]:
query = "select * from popular_houses"
pd.read_sql(query,A)

##

## TASK - 5 :

### Most families own two cars prefer a garage with at least 500 square feet. write a query to fetch these rows and push them into a new table in MySQL.

In [19]:
cars = data[(data["GarageCars"]==2) & (data["GarageArea"]>=500)]

In [20]:
task_5 = pd.concat([cars["Id"],cars["GarageCars"],cars["GarageArea"]],axis=1)
task_5 = task_5.set_index("Id")

In [21]:
task_5.to_sql('car_garage', engine, index=False)

439

In [ ]:
query = "select * from car_garage"
pd.read_sql(query,A)

###

## TASK - 6 :

### Identify any three tables that have logical connection and figure out how would you connect them using primary key and foreign key relationship. You would be required to add additional columns (primary keys) in the tables that are related. these primary key need to have unique values, which will need to be generated using python programming.