# Car Sale Analysis

In [85]:
import pandas as pd

In [86]:
import numpy as np

##

#### TASK - 1 : Create a pandas series object to store the prices of these cars and assign them the row indexes from 101 to 120.

In [87]:
price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 
         39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]

In [88]:
car_prices = pd.Series(price,index=(np.arange(101,121)))
car_prices

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

###

#### TASK - 2 : Identify the row indexes and prices of the cars with the highest price and the lowest price.

In [89]:
lowest = car_prices.idxmin()
print("Index of car has lowest price : ",lowest)
highest = car_prices.idxmax()
print("Index of car has lowest price : ",highest)

Index of car has lowest price :  104
Index of car has lowest price :  114

##

#### TASK - 3 : Display the price of the top 5 cars with highest value, along with their row index.

In [90]:
top_5 = car_prices.sort_values()
print("Price of top 5 along with their index :")
top_5[15:20,]

Price of top 5 along with their index :

107    78703
101    80121
120    83197
112    93822
114    93947
dtype: int64

##

#### TASK - 4 : Display the prices of all cars priced between 30-40k along with the row indexes. Calculate and display the count of these cars.

In [91]:
count = car_prices[(car_prices >=30000) & (car_prices <40000)]
print("Car prices between 30 and 40K :")
print(count,"\n")
print("Count of these cars : ",count.size)

Car prices between 30 and 40K :
103    37077
104    30660
111    39967
dtype: int64

Count of these cars :  3

##

#### TASK - 5 : Display the price and row indexes of those cars that are priced above the average price of all cars. Display the count of such cars.

In [92]:
above_avg = car_prices[car_prices >car_prices.mean()]
print("Cars that have price above average of all cars :\n")
print(above_avg,"\n")
print("Count of above average price cars:",above_avg.size)

Cars that have price above average of all cars :

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

Count of above average price cars: 8

##### There are total 8 cars which have price above the average price of all cars.

###

####  TASK - 6 : The car dealer needs to new car with the row indexs 201, 202 and 203 priced at 34000, 45000 and 54000 respectively. update the existing data and display the prices along with the row indexes.

In [93]:
new_indexes = [201,202,203]
new_prices = [34000,45000,54000]
new_car_prices = pd.Series(new_prices ,index=new_indexes)
new_car_prices

201    34000
202    45000
203    54000
dtype: int64

In [94]:
new_car_prices = pd.concat([car_prices, new_car_prices])
print("Updated Data : \n")
print(new_car_prices)

Updated Data :

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

###

#### TASK - 7 : The car dealer is offering a discount of  20% on the car price above 60000, Display the row indexes along with the original and discounted prices of such all cars.

In [95]:
discount = discount[new_car_prices >60000]
discount_prices = discount-(discount*20/100)
a = pd.concat([discount,discount_prices],axis=1)
a.columns=["Original Price","Discounted Price"]
a

     Original Price  Discounted Price
101           80121           64096.8
105           68536           54828.8
107           78703           62962.4
112           93822           75057.6
114           93947           75157.6
115           78373           62698.4
116           62765           50212.0
120           83197           66557.6

####

#### Task - 8 : The cars priced above 60000 are sold now due to the 20% discount by the dealer. update the data by deleting the details of car sold and and print the updated data display the count of car before and after the updating the data.

In [84]:
copy = new_car_prices.copy()
b = a.index
copy = copy.drop(index=b)
print("Updated data after deleting the details of car sold :\n")
print(copy,"\n")
print("Count before updating the data details: ",new_car_prices.size,"\n")
print("Count after updating  the data details: ",copy.size,"\n")

Updated data after deleting the details of car sold :

102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64

Count before updating the data details:  23

Count after updating  the data details:  15